# virtual env
.env/

# CDK output
cdk.out/

# Python caching
arm64_wheel_tester_stack/__pycache__/

# Python egg-info
arm64_wheel_tester_stack/arm64_wheel_tester_stack.egg-info/

# Environment variables
.aws_creds
