# virtual env
.env/

# CDK output
cdk.out/

# Python caching
graviton2_wheel_tester_stack/__pycache__/

# Python egg-info
graviton2_wheel_tester_stack/gravtion2_wheel_tester_stack.egg-info/

# Environment variables
.aws_creds
